<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="stripe/stripeCard.do" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_XrGHAm3m6hnGFzxlo52GlmSj"
		    data-amount="999"
		    data-name="Demo Site"
		    data-description="Example charge"
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-currency="usd">
		  </script>
	</form>
</body>
</html>